$paleta:(
	rozowy: #e52b50,
	szary-ciemny: #222,
	szary: #58585a,
	szary-jasny: #e8e8e8,
	pomarancz: #f58220,
	zolty: #ffcb08,
	niebieski: #0095da,
	czerwony: #ed1c24,
	ok: hsl( 130, 80%, 40% ),
	fail: hsl( 0, 80%, 40% )
	
);

@each $name, $color in $paleta{
	.fc-#{$name}{
		color: $color;
		
	}
	
	.bg-#{$name}{
		background-color: $color;
		
	}
	
	.border-#{$name}{
		border-color: $color;
		
	}
	
}

$font-family:(
	base: ( 'Poppins', 'Times New Roman', serif )
	
);

@each $name, $family in $font-family{
	.ff-#{$name}{
		font-family: $family;
		
	}
	
}

$font-size:(
	small: 14px,
	light: 18px,
	base: 20px,
	medium: 24px
	
);

@each $name, $size in $font-size{
	.fs-#{$name}{
		font-size: $size;
		
	}
	
}

@mixin bgKolor( $name ){
	background-color: map-get( $paleta, $name );
	
}

@mixin fontKolor( $name ){
	color: map-get( $paleta, $name );
	
}

@mixin borderKolor( $name ){
	border-color: map-get( $paleta, $name );
	
}

@mixin setFont( $family, $size: base ){
	font:{
		family: map-get( $font-family, $family );
		size: map-get( $font-size, $size );
		
	};
	
}

@mixin stdHeader(){
	font:{
		size: 18px;
		family: ('Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif);
		weight: 500;
	};
	color: map-get( $paleta, szary-ciemny );
	line-height: 22px;
	
}

@mixin stdTitle(){
	font:{
		size: map-get( $font-size, base );
		family: ('Poppins', 'Times New Roman', serif);
		weight: 400;
	};
	line-height: 30px;		
	color: map-get( $paleta, szary-ciemny );
	
}

@mixin stdContent(){
	font:{
		size: 15px;
		family: ('Poppins', 'Times New Roman', serif);
		
	};
	color: map-get( $paleta, szary );
	line-height: 34px;
	
	*{
		line-height: inherit;
		
	}
	
}

@mixin stdBold(){
	font-weight: 600;
	
}


*{
	cursor: default;
	
}

a{
	
	&, & *{
		cursor: pointer;
		
	}
	
}

.pointer{
	
	&, & *{
		cursor: pointer;
		
	}
	
}

.hitbox{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;

}

.accordion{
	
	.textwidget{
		display: none;
		
	}
	
}

.navbar{
	
	& > .container{
		/* padding: 0; */
		
	}
	
}

.footer{
	padding-bottom: 100px !important;
	
}

.pagination-products{
	align-items: center;
	margin-bottom: 50px;
	
	a{
		display: inline-block;
		margin: 0 2px;
		padding: 10px 15px;
		text-align: center;
		font-size: 16px;
		font-weight: 500;
		
		&.current,
		&:hover{
			@include bgKolor( rozowy );
			color: #fff;
			cursor: pointer;
			text-decoration: none;
			
		}
		
	}

}

.navbar-toggler{
	margin-left: auto;
	
}

.contact-top{
	width: 100%;
	
	&, & *{
		line-height: initial;
		
	}
	
	@media( min-width: 992px ){
		width: initial;
		
	}
	
}

.stdHeader{
	@include stdHeader();
	
}

.title{
	@include stdHeader();
	margin: 40px 0;
	
}

.stdBold, strong, b{
	@include stdBold();
	
}

h1, h2, h3, h4, h5, h6{
	@include stdHeader();
	
}

h1.my-4{
	line-height: 40px;
	
}

.hot-products{
	
	h1{
		position: relative;
		
		.arrow-pagination{
			position: absolute;
			right: 0;
			top: 0;
			
			& > *{
				display: inline-block;
				position: static;
				bottom: initial;
				right: initial;
				
			}
			
		}
		
	}
		
	.view{
		position: relative;
		overflow: hidden;
		height: 600px;
		
		.hot-products-content{
			position: relative;
			margin: 0;
			flex-shrink: 0;
			flex-basis: 150px;
			
			.hot-content{
				line-height: 20px;
				
			}
			
		}
		
	}
	
}

.most-popular{
	
	h1{
		position: relative;
		padding-right: 100px;
		
		.arrow-pagination{
			position: absolute;
			top: 0;
			right: 0;
			
			.arrow{
				display: inline-block;
				position: static;
				bottom: initial;
				right: initial;
				
			}
			
		}
		
	}
	
	.items{
		overflow: hidden;
		
	}
	
}

.nf-form-cont{
	font-size: map-get( $font-size, small );
	
	.nf-form-fields-required{
		padding: 20px 0;
		
	}
	
	.nf-error-wrap{
		color: map-get( $paleta, rozowy );
		
	}
	
}

.gallery_popup{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.7);
	z-index: 50;
	
	.img{
		height: 80vh;
		max-height: 1140px;
		background:{
			position: center;
			size: contain;
			repeat: no-repeat;
			
		};
		
		.nav{
			font-size: 60px;
			
		}
		
	}
	
	&:not(.open){
		display: none !important;
		
	}
	
}

.bg-video{
	width: 100%;
	
	video{
		height: initial;
		
	}
	
	.video-content{
		
		@media( max-width: 767px ){
			position: static;
			
		}
		
	}
	
}

form{
	font-size: map-get( $font-size, small );
		
	input, textarea{
		padding: 6px 12px;
		min-height: 34px;
		width: 100%;
		border: solid 1px map-get( $paleta, szary-jasny );
		
	}
	
	.submit-wrap input[type=button],
	input[type=submit]
	{
		width: 100%;
		background-color: map-get( $paleta, rozowy );
		color: #fff;
		cursor: pointer;
		
	}
	
}

body{
	@include stdContent();
	
}

.fast-contact-bar{
	
	.social-ico{
		
		a{
			
			&:hover{
				text-decoration: none;
				
			}
			
		}
		
	}
	
}

.filtr{
	
	.text{
		display: inline-block;
		
	}
	
}

.navbar-brand{
	background:{
		position: left;
		repeat: no-repeat;
		size: contain;
		origin: padding-box;
		clip: padding-box;
		
	};
	
}

.single-item{
	
	&.sale{
		
		.card-title{
			
			a{
				@include fontKolor( rozowy );
				
			}
			
		}
		
	}
	
	.price{
		
		span{
			margin-right: 10px;
			font-weight: 400;
			color: #848484;
			text-decoration:line-through;
			
		}
		
	}
	
}

img{
	display: inline-block;
	max-width: 100%;
	height: auto;
	
	&.aligncenter{
		display: block;
		margin:{
			left: auto;
			right: auto;
		};
		
	}
	
	&.alignleft{
		display: block;
		margin:{
			right: auto;
		};
		
	}
	
	&.alignright{
		display: block;
		margin:{
			left: auto;
		};
		
	}
	
}

.breadcrumb{
	
	h3{
		
		&:not(:last-child){
			
			&::after{
				margin-left: 8px;
				content: '\f101';
				font-family: 'Font Awesome 5 Free';
				
			}
			
		}
		
	}
	
}

.customSelect{
	position: relative;
	display: inline-flex;
	flex-direction: column;
	margin: 20px 10px;
	
	@mixin stdItem(){
		display: flex;
		align-items: center;
		padding: 10px 20px;
		min-height: 50px;
		border: solid 1px map-get( $paleta, szary-jasny );
		cursor: pointer;
		line-height: 30px;
	}
	
	.head{
		@include stdItem();
		border-radius: 4px;
		
		.icon{
			margin-left: 40px;
			
		}
		
	}
	
	.list{
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		z-index: 50;
		
		.item{
			@include stdItem();
			border-top: none;
			background-color: #fff;
			transition-property: font, background, border;
			transition: .3s linear;
			
			&:last-child{
				border-radius: 0 0 4px 4px;
				
			}
			
			&:hover{
				background-color: map-get( $paleta, szary );
				border-color: map-get( $paleta, szary );
				color: #fff;
				
			}
			
		}
		
	}
	
	&:hover{
		
		.head{
			border-radius: 4px 4px 0 0;
			
		}
		
		.list{
			display: flex;
			flex-direction: column;
			
		}
		
	}
	
}

#banner
{
	width: 100%;
	height: 300px;
	background:{
		color: silver;
		position: center;
		repeat: no-repeat;
		size: cover;
		
	};
	
}

#page
{
	width: 100%;
	
	.title{
		width: 100%;
		text-align: center;
		@include stdHeader();
		
	}
	
	.content{
		padding: 0 20px;
		@include stdContent();
		
	}
	
	.custom_gallery{
		margin: 30px 0;
		
		.wrapper{
			margin: 15px 0;
			
			.item{
				padding: 15px 15px;
				height: 200px;
				background:{
					position: center;
					size: contain;
					repeat: no-repeat;
					clip: content-box;
					origin: content-box;
				};
				border: solid 1px map-get( $paleta, szary-jasny );
				border-radius: 10px;
				transition: border 0.3s linear;
				
				&:hover{
					border-color: map-get( $paleta, rozowy );
					
				}
				
			}
			
		}
		
	}
	
}

#front
{
	
}

#blog
{
	
	.hash{
		line-height: 80px;
		
	}
	
	.item{
		padding: 20px 0;
		border:{
			style: solid;
			width: 0 0 1px 0;
			
		};
		
		.img{
			position: relative;
			background:{
				position: center;
				size: cover;
				repeat: no-repeat;
				clip: content-box;
				origin: content-box;
				
			};
			height: 250px;
			
		}
		
		.text{
			
			.date{
				line-height: 34px;
				
			}
			
			.title{
				font-weight: 600;
				
			}
			
			.excerpt{
				line-height: 34px;
				
				p{
					margin: 0;
					line-height: inherit;
					
				}
				
			}
			
			.more{
				text-align: right;
				
			}
			
		}
		
		&:hover{
			
			.more{
				@include fontKolor( rozowy );
				
			}
			
		}
		
	}
	
}

#single
{
	
	.title{
		width: 100%;
		text-align: center;
		
	}
	
	.content{
		@include stdContent();
		
	}
	
	.post_nav{
			
		a{
			padding: 10px 20px;
			
			&:hover{
				color: map-get( $paleta, rozowy );
				text-decoration: none;
				
			}
			
			@media( max-width: 767px ){
				text-align: center;
				
			}
			
		}
		
		&.next{
			
			a{
				
				@media( min-width: 768px ){
					text-align: right;
					
				}
				
			}
			
		}
		
	}
	
}

#partnerzy
{
	overflow: hidden;
	
	.view{
		
		.item{
			flex-shrink: 0;
			padding: 5px;
			width: 180px;
			height: 80px;
			background:{
				position: center;
				size: contain;
				repeat: no-repeat;
				origin: padding-box;
				clip: padding-box;
				
			};
			
		}
		
	}
	
}

#quick
{
	$width: 40px;
	$height: 40px;
	$fs: 20px;
	
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	height: 0;
	z-index: 50;
	
	.panel{
		transition: transform .3s linear;
		
		.icon{
			position: relative;
			width: #{$width};
			height: #{$height};
			background-color: map-get( $paleta, szary-jasny );
			font-size: #{$fs};
			
		}
		
		& > .icon{
			background-color: map-get( $paleta, rozowy );
			color: #fff;
			
		}
		
		.sub{
			
			.item{
				transition: font .3s linear;
				
				&:hover{
					color: map-get( $paleta, rozowy );
					text-decoration: none;
					
				}
				
			}
			
		}
		
		&.social{
			
			& > .icon{
				border-radius: 0 30% 0 0;
				
			}
			
		}
		
		&.contact{
			
			& > .icon{
				border-radius: 30% 0 0 0;
				
			}
			
		}
		
		&:not(:hover){
			transform: translate( 0, calc( 100% - #{$height} ) );
			
		}
		
	}
	
	@media( min-width: 1200px ){
		height: initial;
		left: 0;
		top: 50%;
		bottom: initial;
		right: initial;
		
		.panel{
			
			&.contact{
				
				& > .icon{
					border-radius: 0 0 30% 0;
					
				}
				
			}
			
			&:not(:hover){
				transform: translate( calc( -100% + #{$height} ), 0% );
				
			}
			
		}
		
	}
	
}

#wlasna
{
	
	.title{
		width: 100%;
		text-align: center;
		
	}
	
	.basic-content{
		@include stdContent();
		
	}
	
}

#produkt
{
	
	.present{
		
		a{
			
			&:hover{
				text-decoration: none;
				@include fontKolor( rozowy );
				
			}
			
		}
		
		.arrow-pagination{
			display: none;
			
			& > *{
				background-color: #fff;
				
			}
			
		}
		
		.product-single-gallery{
			
			.view{
				overflow: hidden;
				
				.item{
					
					.single-gallery{
						
						&:hover{
							border-color: map-get( $paleta, rozowy );
							
						}
						
					}
					
				}
				
			}
			
		}
		
		.popup{
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(0,0,0,0.7);
			z-index: 50;
			
			.img{
				height: 80vh;
				max-height: 1140px;
				background:{
					position: center;
					size: contain;
					repeat: no-repeat;
					
				};
				
				.nav{
					font-size: 60px;
					
				}
				
			}
			
			&:not(.open){
				display: none !important;
				
			}
			
		}
		
	}
	
}

#side
{
	order: 1;
	
	& > .menu{
		
		.list-group{
			
			.list-group-item{
				
				&:hover,
				&.active{
					background-color: map-get( $paleta, rozowy );
					color: #fff;
					border-color: transparent;
					
				}
				
			}
			
		}
		
	}
	
	& > .faq{
		
	}
	
	@media( min-width: 992px ){
		order: 0;
		
	}
	
}

#navbarResponsive
{
	position: relative;
	overflow: hidden;
	
	.navbar-nav{
		flex-shrink: 0;
		
		.menu{
			display: flex;
			flex-direction: column;
			text-align: center;
			
			.menu-item{
				
				a{
					padding: 1.1rem 0.8rem;
					
				}
				
			}
			
			@media( min-width:992px ){
				flex-direction: row;
				
			}
			
		}
		
	}
	
}

#search
{
	min-height: 52px;
	width: 100%;
	
	input{
		padding: 5px 10px;
		width: calc( 100% - 60px );
		background-color: map-get( $paleta, szary-jasny );
		color: map-get( $paleta, szary );
		border: none;
		font:{
			size: 13px;
			weight: 500;
		};
		
	}
	
	.search_btn{
		width: 60px;
		flex-shrink: 0;
		background-color: map-get( $paleta, rozowy );
		color: #fff;
		border: none;
		
	}
	
	@media( min-width: 992px ){
		
		input{
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			height: 100%;
			
		}
		
	}
	
}

#polecane
{
	
	.items{
		
		.single-item{
			
			.card-body{
				
				.hover-element-shop{
					
					@media( max-width: 1023px ){
						display: none;
						
					}
					
				}
				
			}
			
		}
		
	}
	
}

#kontakt
{
	@include stdContent();
	margin-top: 50px;
	
	.cell{
		width: 100%;
		margin-bottom: 20px;
		
		&.napisz{
			
		}
		
		&.kontakt{
				margin-bottom: 20px;
			
			.title{
				margin-bottom: 20px;
				
			}
			
		}
		
		&.odwiedz{
			
			#mapa
			{
				height: 500px;
				background-color: map-get( $paleta, szary-jasny );
				
			}
			
		}
		
	}
	
}

#zapytaj
{
	
	.mail_status{
		@include stdHeader();
		padding: 5px 10px;
		margin-bottom: 50px;
		color: #fff;
		text-align: center;
		background-color: map-get( $paleta, szary );
		
		&.ok{
			background-color: map-get( $paleta, ok );
			
		}
		
		&.fail{
			background-color: map-get( $paleta, fail );
			
		}
		
	}
	
	#ask
	{
		width: 100%;
		
		.field{
			margin-top: 20px;
			
			&.zgoda{
				
				label{
					padding-left: 10px;
					
				}
				
			}
			
		}
		
		textarea{
			height: 200px;
			resize: none;
			
		}
		
	}
	
	.details{
		@include stdContent();
		
		.line{
			display: flex;
			justify-content: space-between;
			
			div{
				padding: 5px;
				
				&:nth-child(2){
					text-align: right;
					
				}
				
			}
			
			&:nth-child(even){
				background-color: map-get( $paleta, szary-jasny );
				
			}
			
		}
		
		.img{
			
			img{
				max-width: 100%;
				
			}
			
		}
		
	}
	
}

#menu-menu-sklep
{
	
	li{
		
		&:not(.menu-item-663){
				
			a{
				background-color: #f6f6f6;
				color: #212529;
				
				&:hover{
					background-color: map-get( $paleta, rozowy );
					
				}
				
			}
			
		}
		
	}
	
}

