.fc-rozowy {
  color: #e52b50; }

.bg-rozowy {
  background-color: #e52b50; }

.border-rozowy {
  border-color: #e52b50; }

.fc-szary-ciemny {
  color: #222; }

.bg-szary-ciemny {
  background-color: #222; }

.border-szary-ciemny {
  border-color: #222; }

.fc-szary {
  color: #58585a; }

.bg-szary {
  background-color: #58585a; }

.border-szary {
  border-color: #58585a; }

.fc-szary-jasny {
  color: #e8e8e8; }

.bg-szary-jasny {
  background-color: #e8e8e8; }

.border-szary-jasny {
  border-color: #e8e8e8; }

.fc-pomarancz {
  color: #f58220; }

.bg-pomarancz {
  background-color: #f58220; }

.border-pomarancz {
  border-color: #f58220; }

.fc-zolty {
  color: #ffcb08; }

.bg-zolty {
  background-color: #ffcb08; }

.border-zolty {
  border-color: #ffcb08; }

.fc-niebieski {
  color: #0095da; }

.bg-niebieski {
  background-color: #0095da; }

.border-niebieski {
  border-color: #0095da; }

.fc-czerwony {
  color: #ed1c24; }

.bg-czerwony {
  background-color: #ed1c24; }

.border-czerwony {
  border-color: #ed1c24; }

.fc-ok {
  color: #14b830; }

.bg-ok {
  background-color: #14b830; }

.border-ok {
  border-color: #14b830; }

.fc-fail {
  color: #b81414; }

.bg-fail {
  background-color: #b81414; }

.border-fail {
  border-color: #b81414; }

.ff-base {
  font-family: "Poppins", "Times New Roman", serif; }

.fs-small {
  font-size: 14px; }

.fs-light {
  font-size: 18px; }

.fs-base {
  font-size: 20px; }

.fs-medium {
  font-size: 24px; }

* {
  cursor: default; }

a, a * {
  cursor: pointer; }

.pointer, .pointer * {
  cursor: pointer; }

.hitbox {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10; }

.accordion .textwidget {
  display: none; }

.navbar > .container {
  /* padding: 0; */ }

.footer {
  padding-bottom: 100px !important; }

.pagination-products {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px; }
  .pagination-products a {
    display: inline-block;
    margin: 0 2px;
    padding: 10px 15px;
    text-align: center;
    font-size: 16px;
    font-weight: 500; }
    .pagination-products a.current, .pagination-products a:hover {
      background-color: #e52b50;
      color: #fff;
      cursor: pointer;
      text-decoration: none; }

.navbar-toggler {
  margin-left: auto; }

.contact-top {
  width: 100%; }
  .contact-top, .contact-top * {
    line-height: initial; }
  @media (min-width: 992px) {
    .contact-top {
      width: initial; } }

.stdHeader {
  font-size: 18px;
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #222;
  line-height: 22px; }

.title {
  font-size: 18px;
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #222;
  line-height: 22px;
  margin: 40px 0; }

.stdBold, strong, b {
  font-weight: 600; }

h1, h2, h3, h4, h5, h6 {
  font-size: 18px;
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #222;
  line-height: 22px; }

h1.my-4 {
  line-height: 40px; }

.hot-products h1 {
  position: relative; }
  .hot-products h1 .arrow-pagination {
    position: absolute;
    right: 0;
    top: 0; }
    .hot-products h1 .arrow-pagination > * {
      display: inline-block;
      position: static;
      bottom: initial;
      right: initial; }
.hot-products .view {
  position: relative;
  overflow: hidden;
  height: 600px; }
  .hot-products .view .hot-products-content {
    position: relative;
    margin: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: 150px;
        flex-basis: 150px; }

.most-popular h1 {
  position: relative; }
  .most-popular h1 .arrow-pagination {
    position: absolute;
    top: 0;
    right: 0; }
    .most-popular h1 .arrow-pagination .arrow {
      display: inline-block;
      position: static;
      bottom: initial;
      right: initial; }
.most-popular .items {
  overflow: hidden; }

.nf-form-cont {
  font-size: 14px; }
  .nf-form-cont .nf-form-fields-required {
    padding: 20px 0; }
  .nf-form-cont .nf-error-wrap {
    color: #e52b50; }

.gallery_popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 50; }
  .gallery_popup .img {
    height: 80vh;
    max-height: 1140px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; }
    .gallery_popup .img .nav {
      font-size: 60px; }
  .gallery_popup:not(.open) {
    display: none !important; }

form {
  font-size: 14px; }
  form input, form textarea {
    padding: 6px 12px;
    min-height: 34px;
    width: 100%;
    border: solid 1px #e8e8e8; }
  form .submit-wrap input[type=button],
  form input[type=submit] {
    width: 100%;
    background-color: #e52b50;
    color: #fff;
    cursor: pointer; }

body {
  font-size: 15px;
  font-family: "Poppins", "Times New Roman", serif;
  color: #58585a;
  line-height: 34px; }
  body * {
    line-height: inherit; }

#banner {
  width: 100%;
  height: 300px;
  background-color: silver;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

#page {
  width: 100%; }
  #page .title {
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #222;
    line-height: 22px; }
  #page .content {
    padding: 0 20px;
    font-size: 15px;
    font-family: "Poppins", "Times New Roman", serif;
    color: #58585a;
    line-height: 34px; }
    #page .content * {
      line-height: inherit; }
  #page .custom_gallery {
    margin: 30px 0; }
    #page .custom_gallery .wrapper {
      margin: 15px 0; }
      #page .custom_gallery .wrapper .item {
        padding: 15px 15px;
        height: 200px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-clip: content-box;
        background-origin: content-box;
        border: solid 1px #e8e8e8;
        border-radius: 10px;
        -webkit-transition: border 0.3s linear;
        transition: border 0.3s linear; }
        #page .custom_gallery .wrapper .item:hover {
          border-color: #e52b50; }

#blog .hash {
  line-height: 80px; }
#blog .item {
  padding: 20px 0;
  border-style: solid;
  border-width: 0 0 1px 0; }
  #blog .item .img {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-origin: content-box;
    height: 250px; }
  #blog .item .text .date {
    line-height: 34px; }
  #blog .item .text .title {
    font-weight: 600; }
  #blog .item .text .excerpt {
    line-height: 34px; }
    #blog .item .text .excerpt p {
      margin: 0;
      line-height: inherit; }
  #blog .item:hover .more {
    color: #e52b50; }

#single .title {
  width: 100%;
  text-align: center; }
#single .content {
  font-size: 15px;
  font-family: "Poppins", "Times New Roman", serif;
  color: #58585a;
  line-height: 34px; }
  #single .content * {
    line-height: inherit; }

#partnerzy {
  overflow: hidden; }
  #partnerzy .view .item {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding: 5px;
    width: 180px;
    height: 80px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: padding-box;
    background-clip: padding-box; }

#quick {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 0;
  z-index: 50; }
  #quick .panel {
    -webkit-transition: -webkit-transform .3s linear;
    transition: -webkit-transform .3s linear;
    transition: transform .3s linear;
    transition: transform .3s linear, -webkit-transform .3s linear; }
    #quick .panel .icon {
      position: relative;
      width: 40px;
      height: 40px;
      background-color: #e8e8e8;
      font-size: 20px; }
    #quick .panel > .icon {
      background-color: #e52b50;
      color: #fff; }
    #quick .panel .sub .item {
      -webkit-transition: font .3s linear;
      transition: font .3s linear; }
      #quick .panel .sub .item:hover {
        color: #e52b50;
        text-decoration: none; }
    #quick .panel.social > .icon {
      border-radius: 0 30% 0 0; }
    #quick .panel.contact > .icon {
      border-radius: 30% 0 0 0; }
    #quick .panel:not(:hover) {
      -webkit-transform: translate(0, calc( 100% - 40px ));
              transform: translate(0, calc( 100% - 40px )); }
  @media (min-width: 1200px) {
    #quick {
      height: initial;
      left: 0;
      top: 50%;
      bottom: initial;
      right: initial; }
      #quick .panel.contact > .icon {
        border-radius: 0 0 30% 0; }
      #quick .panel:not(:hover) {
        -webkit-transform: translate(calc( -100% + 40px ), 0%);
                transform: translate(calc( -100% + 40px ), 0%); } }

#wlasna .title {
  width: 100%;
  text-align: center; }
#wlasna .basic-content {
  font-size: 15px;
  font-family: "Poppins", "Times New Roman", serif;
  color: #58585a;
  line-height: 34px; }
  #wlasna .basic-content * {
    line-height: inherit; }

#produkt .present .arrow-pagination {
  display: none; }
  #produkt .present .arrow-pagination > * {
    background-color: #fff; }
#produkt .present .product-single-gallery .view {
  overflow: hidden; }
  #produkt .present .product-single-gallery .view .item .single-gallery:hover {
    border-color: #e52b50; }
#produkt .present .popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 50; }
  #produkt .present .popup .img {
    height: 80vh;
    max-height: 1140px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; }
    #produkt .present .popup .img .nav {
      font-size: 60px; }
  #produkt .present .popup:not(.open) {
    display: none !important; }

#side {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }
  #side .list-group .list-group-item:hover, #side .list-group .list-group-item.active {
    background-color: #e52b50;
    color: #fff;
    border-color: transparent; }
  @media (min-width: 992px) {
    #side {
      -webkit-box-ordinal-group: 1;
          -ms-flex-order: 0;
              order: 0; } }

#navbarResponsive {
  position: relative;
  overflow: hidden; }
  #navbarResponsive .navbar-nav {
    -ms-flex-negative: 0;
        flex-shrink: 0; }
    #navbarResponsive .navbar-nav .menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      text-align: center; }
      #navbarResponsive .navbar-nav .menu .menu-item a {
        padding: 1.1rem 0.8rem; }
      @media (min-width: 992px) {
        #navbarResponsive .navbar-nav .menu {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row; } }

#search {
  min-height: 52px;
  width: 100%; }
  #search input {
    padding: 5px 10px;
    width: calc( 100% - 60px );
    background-color: #e8e8e8;
    color: #58585a;
    border: none;
    font-size: 13px;
    font-weight: 500; }
  #search .search_btn {
    width: 60px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    background-color: #e52b50;
    color: #fff;
    border: none; }
  @media (min-width: 992px) {
    #search input {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      height: 100%; } }

@media (max-width: 1023px) {
  #polecane .items .single-item .card-body .hover-element-shop {
    display: none; } }

#kontakt {
  font-size: 15px;
  font-family: "Poppins", "Times New Roman", serif;
  color: #58585a;
  line-height: 34px;
  margin-top: 50px; }
  #kontakt * {
    line-height: inherit; }
  #kontakt .cell {
    width: 100%;
    margin-bottom: 20px; }
    #kontakt .cell.kontakt {
      margin-bottom: 20px; }
      #kontakt .cell.kontakt .title {
        margin-bottom: 20px; }
    #kontakt .cell.odwiedz #mapa {
      height: 500px;
      background-color: #e8e8e8; }

#zapytaj .mail_status {
  font-size: 18px;
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #222;
  line-height: 22px;
  padding: 5px 10px;
  margin-bottom: 50px;
  color: #fff;
  text-align: center;
  background-color: #58585a; }
  #zapytaj .mail_status.ok {
    background-color: #14b830; }
  #zapytaj .mail_status.fail {
    background-color: #b81414; }
#zapytaj #ask {
  width: 100%; }
  #zapytaj #ask .field {
    margin-top: 20px; }
  #zapytaj #ask textarea {
    height: 200px;
    resize: none; }
#zapytaj .details {
  font-size: 15px;
  font-family: "Poppins", "Times New Roman", serif;
  color: #58585a;
  line-height: 34px; }
  #zapytaj .details * {
    line-height: inherit; }
  #zapytaj .details .line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #zapytaj .details .line div {
      padding: 5px; }
      #zapytaj .details .line div:nth-child(2) {
        text-align: right; }
    #zapytaj .details .line:nth-child(even) {
      background-color: #e8e8e8; }

/*# sourceMappingURL=override.css.map */